.row{
  padding-left: 50px;
}

.formRegister {
  background: #546191;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 1.25rem;
  color: white
}

input.form-control {
  width: 420px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: left;
  padding-right: 2rem;
}

button2.btn.btn-primary{
  width: 200px;
  justify-items: center;
  margin-left: 8rem;
  opacity: none;
  font-size: 1.2rem;
}